<div class='card'>
    <div class="card-body">
        <div class='table-responsive'>
            <table class='table list' *ngIf='users && users.length'>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Login</th>
                        <th>Environment</th>
                        <th>Organization</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let user of users' (click)='openUserDetails(user.id)'>
                        <td>{{user.id}}</td>
                        <td>{{user.login}}</td>
                        <td>{{user.environmentId}}</td>
                        <td>{{user.organizationName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class='container-fluid'>
            <div class='row'>
                <div class='col-2 pagination'>
                    <label style="line-height:25px">Items:</label>
                    <select class="form-control control-color" id="ddlPageSize" [(ngModel)]="pageSize" (change)="changePageSize($event.target.value)">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="50">100</option>
                    </select>
                </div>
                <div class='col-8'>
                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-center">
                        <li *ngIf="pager.currentPage !== 1" class="page-item">
                            <a class="page-link" (click)="changePageNumber(1)">First</a>
                        </li>
                        <li *ngIf="pager.currentPage !== 1" class="page-item">
                            <a class="page-link" (click)="changePageNumber(pager.currentPage - 1)">Previous</a>
                        </li>
                        <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                            <a class="page-link" (click)="changePageNumber(page)">{{page}}</a>
                        </li>
                        <li *ngIf="pager.currentPage !== pager.totalPages" class="page-item">
                            <a class="page-link" (click)="changePageNumber(pager.currentPage + 1)">Next</a>
                        </li>
                        <li *ngIf="pager.currentPage !== pager.totalPages" class="page-item">
                            <a class="page-link" (click)="changePageNumber(pager.totalPages)">Last</a>
                        </li>
                    </ul>
                </div>
                <div class="col-2 text-right">
                    <p>Total records: {{pager.totalItems}}</p>
                </div>
            </div>
        </div>
    </div>
</div>