<div class='card'>
  <div class='card-header'>
    Report details
  </div>


  <div class='card-body' *ngIf='!activation'>Loading...</div>
  <div class='card-body' *ngIf='activation'>
    <div class='container'>
      <div class="row">
        <div class="col-sm">
          <div class="row border-bottom">
            <div class="col-4">Id</div>
            <div class="col-8">{{activation.id}}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-4">Version</div>
            <div class="col-8">{{activation.version}}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-4">Activation Time</div>
            <div class="col-8">{{activation.activationTime}}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-4">Environment</div>
            <div class="col-8">{{activation.environmentId}}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-4">Status</div>
            <div class="col-8">{{activation.status}}</div>
          </div>
          <div class="row border-bottom" *ngIf="activation.isZippedResults">
            <div class="col-4">Report</div>
            <div class="col-8">
              <button class='btn btn-outline-secondary btn-sm' (click)="getFile()" value="Download File">
              <i class="fa fa-download" aria-hidden="true"> Download</i>
              </button>
            </div>
          </div>
          <div class="row border-bottom">
            <div class="col-4">Total tests</div>
            <div class="col-8">{{activation.counterTotal}}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-4">Passed</div>
            <div class="col-8">{{activation.counterPassed}}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-4">Failed</div>
            <div class="col-8">{{activation.counterFailed}}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-4">Errors</div>
            <div class="col-8">{{activation.counterErrors}}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-4">Counter Seconds</div>
            <div class="col-8">{{activation.counterSeconds}}</div>
          </div>

          <div class="row border-bottom">
            <div class="col-4">Scheduler ID</div>
            <div class="col-8">{{activation.schedulerID}}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-4">Send User ID</div>
            <div class="col-8">{{activation.sendUserID}}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-4">Receive UserID</div>
            <div class="col-8">{{activation.receiveUserID}}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-4">Comment</div>
            <div class="col-8">{{activation.comment}}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-4">Test Suite</div>
            <div class="col-8">{{activation.testSuite}}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-4">Report Name</div>
            <div class="col-8">{{activation.reportName}}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-4">Console Log</div>
            <div class="col-8">{{activation.consoleLog}}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-4">Test Suite</div>
            <div class="col-8">{{activation.testSuite}}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-4">Console Log</div>
            <div class="col-8">{{activation.consoleLog}}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-4">Error Log</div>
            <div class="col-8">{{activation.errorLog}}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-4">Git Log</div>
            <div class="col-8">{{activation.gitLog}}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-4">Run Arguments</div>
            <div class="col-8">{{activation.runArguments}}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-4">Json Result</div>
            <div class="col-8">{{activation.jsonResult}}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-4">Junit Result</div>
            <div class="col-8">{{activation.junitResult}}</div>
          </div>




        </div>
        <div class="col-sm">
          <canvas baseChart [data]="chartData" [labels]="chartLabels" [chartType]="chartType" [colors]="chartColors"
            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class='card-footer'>
    <button class='btn btn-outline-secondary' (click)='onBack()' style='width:80px'>
      <i class='fa fa-chevron-left'></i>Back</button>
  </div>
</div>