<div class='card'>
  <div class="card-body">
    <div class="row">
      <div class="col-2">
        <form>
          <div class="form-group">
            <label for="count">Number of last records:</label>
            <select type="count" id="count" class="form-control" (change)="changeCount($event.target.value)" 
            [formControl]="countDrop" >
              <option value="10">10</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option value="500">500</option>
            </select>
          </div>
          <div class="form-group">
            <label for="us">User:</label>
            <select type="us" id="us" class="form-control" (change)="changeUser($event.target.value)" [formControl]="userDrop">
              <option value="default">--Select--</option>
              <option [value]="user.login" *ngFor="let user of users">
                {{user.login}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="env">Envinronment:</label>
            <select type="env" id="env" class="form-control" (change)="changeEnvinronment($event.target.value)" 
            [formControl]="environmentDrop">
              <option value="default">--Select--</option>
              <option [value]="envinronment" *ngFor="let envinronment of envinronments">
                {{envinronment}}
              </option>
            </select>
          </div>
        </form>
        <form>
          <div class="form-group">
            <label for="ver">Version:</label> 
            <select type="ver" id="ver" class="form-control" (change)="changeVersion($event.target.value)" 
            [formControl]="versionDrop">
              <option value="default">--Select--</option>
              <option [value]="version" *ngFor="let version of versions" >
                {{version}}
              </option>
            </select>
          </div>
        </form>
      </div>
      <div class="col-8">
        <div style="display: block">
          <canvas *ngIf='lineChartData.length>0' baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
            [options]="lineChartOptions" [legend]="lineChartLegend" [colors]="lineChartColors" [chartType]="lineChartType"
            (chartClick)="chartClicked($event, table)">
          </canvas>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12" style="margin-bottom: 10px">
        <table #table class="table table-responsive table-condensed">
          <tr>
            <th *ngFor="let label of lineChartLabels">{{label}}</th>
          </tr>
          <tr *ngFor="let d of lineChartData">
            <td [ngStyle]="{'background':getColor(j,d.label)}" *ngFor="let label of lineChartLabels; let j=index"
              (click)='openActivationDetails(j+1)'>{{d && d.data[j]}}</td>
          </tr>
          <tr>
            <td *ngFor="let user of lineTableActivationUsers; let j=index" (click)='openActivationDetails(j+1)'>{{user}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>