<div class='card'>
    <div class='card-header'>
        Report list {{errorMessage}}
    </div>
    <div class="card-body">
        <div class='table-responsive'>
            <table class='table list' *ngIf='activations && activations.length'>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Status</th>
                        <th>Environment</th>
                        <th>Version</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let activation of activations' (click)='openActivationDetails(activation.id)'>
                        <td>{{activation.id}}</td>
                        <td>{{activation.activationTime| date:'dd-MM-yyyy'}}</td>
                        <td>{{activation.activationTime | date:'HH:mm:ss'}}</td>
                        <td>{{activation.status}}</td>
                        <td>{{activation.environmentId}}</td>
                        <td>{{activation.version}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <div class="container">
                <div class="text-center">
                        <span class="form-group pull-left form-inline">
                                <select id="ddlPageSize" class="form-control control-color" [(ngModel)]="pageSize"
                                    (change)="changePageSize($event.target.value)">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                </select>
                            </span>


                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                                <a (click)="changePageNumber(1)">First</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                                <a (click)="changePageNumber(pager.currentPage - 1)">Previous</a>
                        </li>
                        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                <a (click)="changePageNumber(page)">{{page}}</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                <a (click)="changePageNumber(pager.currentPage + 1)">Next</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                <a (click)="changePageNumber(pager.totalPages)">Last</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</div>