<div class="panel panel-primary">
  <div class='panel-body'>
      <div class='table-responsive'>
          Dupa {{errorMessage}}
          <table class='table'>
              <thead>
                  <tr>
                      <th>Id</th>
                      <th>Time</th>
                      <th>Status</th>
                      <th>Report Name</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor ='let activation of activations'>
                      <td>{{activation.id}}</td>
                      <td>{{activation.activationTime}}</td>
                      <td>{{activation.status}}</td>
                      <td>{{activation.reportName}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>