<div class='card'>
    <div class='card-header'>
        Report list {{errorMessage}}
    </div>

    <div class="card-body">
        <div class='table-responsive'>
            <table class='table list' *ngIf='activations && activations.length'>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Status</th>
                        <th>Environment</th>
                        <th>Version</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor ='let activation of activations'  (click)='openActivationDetails(activation.id)'>
                        <td>{{activation.activationTime| date:'dd-MM-yyyy'}}</td>
                        <td>{{activation.activationTime | date:'HH:mm:ss'}}</td>
                        <td>{{activation.status}}</td>
                        <td>{{activation.environmentId}}</td>
                        <td>{{activation.version}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>