<div id="holder">
  <header>
    <div style="text-align:center">
      <h1>
        Welcome to {{ title }}!
      </h1>
    </div>
    <nav>
      <div class="topnav" id="myTopnav">
        <a [routerLink]="['/activations']" [routerLinkActive]="['active']">Activations</a>
        <a [routerLink]="['/charts']" [routerLinkActive]="['active']">Charts</a>
        <a [routerLink]="['/scheduler']" [routerLinkActive]="['active']">Scheduler</a>
      </div>
    </nav>
  </header>
  <section>
    <article>
      <router-outlet></router-outlet>
    </article>
  </section>
  <footer>

    <div id="footer">
      <p>©2018 Made by Dominik</p>
    </div>
  </footer>
</div>