<div class='card'>
  <div class='card-header'>
    Activation details
  </div>
  <div class='card-body' *ngIf='!activation'>Loading...</div>
  <div class='card-body' *ngIf='activation'>
    <div class='container-fluid'>
      <div class="row">
        <div class="col-8">
          <div class="row border-bottom">
            <div class="col-3">Id</div>
            <div class="col-9">{{activation.id}}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-3">Version</div>
            <div class="col-9">{{activation.version}}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-3">Activation Time</div>
            <div class="col-9">{{activation.activationTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-3">Environment</div>
            <div class="col-8">{{activation.environmentId}}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-3">Status</div>
            <div class="col-9">{{activation.status}}</div>
          </div>
          <div *ngIf="activation.isZippedResults">
            <div class="row border-bottom">
              <div class="col-3">Report Name</div>
              <div class="col-9">{{activation.reportName}}</div>
            </div>
            <div class="row border-bottom">
              <div class="col-3">Report</div>
              <div class="col-9">
                <button class='btn btn-outline-secondary btn-sm' style="width:30%" (click)="getFile()" value="Download File">
                  <i class="fa fa-download" aria-hidden="true"> Download</i>
                </button>
              </div>
            </div>
          </div>

          <iframe id="reportiframe" [src]="url | safe"
          style="width:0;height:0;border:none"  (load)="uploadDone()"></iframe>

          <button (click)="getFile2()">test</button>

          <!-- <div class="row border-bottom">
            <div class="col-3">Strona z raportem</div>
            <div class="col-9">
              <button class='btn btn-outline-secondary btn-sm' style="width:30%" (click)="getRepo()" value="Report File">
                <i class="fa fa-download" aria-hidden="true"> Otworz</i>
              </button>
            </div>
          </div> -->
          <div class="row border-bottom">
            <div class="col-3">Total tests</div>
            <div class="col-9">{{activation.counterTotal}}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-3">Passed</div>
            <div class="col-9">{{activation.counterPassed}}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-3">Failed</div>
            <div class="col-9">{{activation.counterFailed}}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-3">Errors</div>
            <div class="col-9">{{activation.counterErrors}}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-3">Execution time</div>
            <div class="col-9">{{activation.counterSeconds | secondsToDate }}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-3">Send User Login</div>
            <div class="col-9">{{activation.sendUserLogin}}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-3">Send User Organization</div>
            <div class="col-9">{{activation.sendUserOrganization}}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-3">Comment</div>
            <div class="col-9">{{activation.comment}}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-3">Test Suite</div>
            <div class="col-9">{{activation.testSuite}}</div>
          </div>
          <div class="row border-bottom">
            <div class="col-3">Error Log</div>
            <div class="col-9">
              <a class='btn btn-outline-secondary btn-sm' style="width:30%" [routerLink]="['/activations', activation.id, 'errorlog']">
                <i class="fa fa-chevron-right"></i> Open Logs</a>
            </div>
          </div>
          <div class="row border-bottom">
            <div class="col-3">Console Log</div>
            <div class="col-9">
              <a class='btn btn-outline-secondary btn-sm' style="width:30%" [routerLink]="['/activations', activation.id, 'consolelog']">
                <i class="fa fa-chevron-right"></i> Open Logs</a>
            </div>
          </div>
          <div class="row border-bottom ">
            <div class="col-3">Git Log</div>
            <div class="col-9 table-responsive">
              <p style="white-space: pre;">{{activation.gitLog}}</p>
            </div>
          </div>
          <div class="row border-bottom">
            <div class="col-3">Run Arguments</div>
            <div class="col-9">{{activation.runArguments}}</div>
          </div>
        </div>
        <div class="col-4">
          <canvas baseChart [data]="chartData" [labels]="chartLabels" [chartType]="chartType" [colors]="chartColors"
            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class='card-footer'>
    <button class='btn btn-outline-secondary' (click)='onBack()' style='width:80px'>
      <i class='fa fa-chevron-left'></i> Back</button>
  </div>
</div>

<ng4-loading-spinner [timeout]="20000"> </ng4-loading-spinner>