<div class='card'>
    <div class="card-body">
        <div class='table-responsive'>
            <table class='table list' *ngIf='activations && activations.length'>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Date</th>
                        <th>Comment</th>
                        <th>User</th>
                        <th>Organization</th>
                        <th>Status</th>
                        <th>Environment</th>
                        <th>Version</th>
                        <th>Passed</th>
                        <th>Failed</th>
                        <th>Errors</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let activation of activations' (click)='openActivationDetails(activation.id)'>
                        <td>{{activation.id}}</td>
                        <td>{{activation.activationTime | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                        <td>{{activation.comment}}</td>
                        <td>{{activation.sendUserLogin}}</td>
                        <td>{{activation.organization}}</td>
                        <td>{{activation.status}}</td>
                        <td>{{activation.environmentId}}</td>
                        <td>{{activation.version}}</td>
                        <td>{{activation.counterPassed}} </td>
                        <td>{{activation.counterFailed}} </td>
                        <td>{{activation.counterErrors}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class='container-fluid'>
            <div class='row'>
                <div class='col-2 pagination'>
                    <label style="line-height:25px">Items:</label>
                    <select class="form-control control-color" id="ddlPageSize" [(ngModel)]="pageSize" (change)="changePageSize($event.target.value)">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                    </select>
                </div>
                <div class='col-8'>
                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-center">
                        <li *ngIf="pager.currentPage !== 1" class="page-item">
                            <a class="page-link" (click)="changePageNumber(1)">First</a>
                        </li>
                        <li *ngIf="pager.currentPage !== 1" class="page-item">
                            <a class="page-link" (click)="changePageNumber(pager.currentPage - 1)">Previous</a>
                        </li>
                        <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                            <a class="page-link" (click)="changePageNumber(page)">{{page}}</a>
                        </li>
                        <li *ngIf="pager.currentPage !== pager.totalPages" class="page-item">
                            <a class="page-link" (click)="changePageNumber(pager.currentPage + 1)">Next</a>
                        </li>
                        <li *ngIf="pager.currentPage !== pager.totalPages" class="page-item">
                            <a class="page-link" (click)="changePageNumber(pager.totalPages)">Last</a>
                        </li>
                    </ul>
                </div>
                <div class="col-2 text-right">
                    <p>Total records: {{pager.totalItems}}</p>
                </div>
            </div>
        </div>
    </div>
</div>