<div class='card'>
  <div class='card-header'>
      Schedule list {{errorMessage}}
  </div>

  <div class="card-body">
      <div class='table-responsive'>
          <table class='table' *ngIf='schedules && schedules.length'>
              <thead>
                  <tr>
                      <th>DateFrom</th>
                      <th>Repeats</th>
                      <th>User</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor ='let schedule of schedules'>
                      <td><a [routerLink] = "['/scheduler', schedule.id]"> {{schedule.dateFrom}} </a></td>
                      <td>{{schedule.repeats}}</td>
                      <td>{{schedule.login}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>